<div class="container" id="location">
  <div class="section-title blue">
    <h2>Stay in the <strong>heart</strong> of Antibes</h2>
  </div>
</div>
<div id="map" data-marker="<%= @marker.to_json %>"
></div>
