.booking-form {
  padding-bottom: 50px;
  .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $lighter-blue;
    margin-bottom: 10px;
    color: white;
  }
  textarea {
    resize: none;
    height: 150px;
  }
}
.booking-comment {
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 50px;
  color: white;
  opacity: .7;
  a {
    color: white;
  }
}

// for booking form in white section
// .booking-container {
//   // padding: 0px 100px 50px 100px;
//   p {
//     font-weight: lighter;
//     font-size: 20px;
//     opacity: .7;
//     margin-bottom: 40px;
//   }
// }

// .booking-form-white {
//   padding-bottom: 50px;
//   .form-control {
//     background: transparent;
//     border: none;
//     box-shadow: none;
//     border-bottom: 1px solid $extra-light-red;
//     margin-bottom: 10px;
//     color: $brand-primary;
//   }
//   textarea {
//     resize: none;
//   }
// }
